.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_container {
  height: 75%;
  width: 50%;
  background-color: #2d343e;
  border-radius: 5px;
}

.header_container {
  width: 100%;
  height: 10%;
  border-bottom: 1px solid #f2f2f2;
}

.header {
  font-size: 3rem;
  padding: 1.5rem 1.5rem;
  color: #f2f2f2;
  letter-spacing: 3px;
}

.messages {
  height: 80%;
  font-size: 5rem;
  color: white;
  overflow: auto;
}

.send_message {
  height: 10%;
}

.send_message_box {
  display: flex;
  height: 100%;
  flex-direction: row;
}

.send_message_input {
  width: 80%;
  height: 100%;
  background-color: #404450;
  padding: 0 1rem;
  color: #f2f2f2;
  border: none;
  outline: none;
  text-align: left;
  padding-right: 2rem;
  padding-top: 0.4rem;
  font-size: 1.5rem;
}

.send_message_btn {
  background-color: #ffac41;
  text-align: center;
  cursor: pointer;
  border: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.5rem;
  width: 20%;
  height: 100%;
}
